<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383023-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383023-1');
  </script>
</head>
<div class="row text-center">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="col-md-6 offset-md-3">
        <img src="/images/team-uvc/anthony.jpg" class="img-centered" alt="Anthony" style="width:100%">
      </div>
      <div class="container">
        <h2>Anthony Baldasaro</h2>
        <p class="maintext">CEO &amp; Founder</p>
        <p>Marketing and Advertising Communications
          <br>
          Pre-Health Sciences
          <br>
          anthonybaldasaro@uvctech.ca</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card">
      <div class="col-md-6 offset-md-3">
        <img src="/images/team-uvc/apoorva.jpg" class="img-centered" alt="Apoorva" style="width:100%">
      </div>
      <div class="container">
        <h2>Apoorva Yadav</h2>
        <p class="maintext">CTO,CEO &amp; Co-Founder</p>
        <p>IT Support Services
          <br>
          Mechanical Engineering
          <br>
          apoorvayadav@uvctech.ca</p>
      </div>
    </div>
  </div>
</div>
