<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383023-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383023-1');
  </script>
</head>
<header>
  <div class="container-fluid">
         <div class="row justify-content-between text-center">
           <div class=" col-md-3 text-right">
             <h2 class="maintext">
               Stay in Loop
              </h2>
               <form action="/signup" method="post">
                  <div class="form-group row  pull-right">
                      <div class="col-md-12 ">
                        <input type="email" class="form-control " id="email" placeholder="Enter email" name="email">
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
           </div>
           <div class="col-md-3 text-left">
             <h2 class="maintext">
               Make A Donation
             </h2>
             <img src="/images/logos/bitcoin.png" alt="Bitcoin" >
             <img src="/images/logos/litecoin.png" alt="Litecoin" >
             <img src="/images/logos/dogecoin.png" alt="Dogecoin">
             <img src="/images/logos/digitalnote.png" class ="img-responsive img-circle"alt="Digital Note" style="border-radius:50%">
             <br>
             <br>
             <form>
              <input type="button" value="Donate" class="btn btn-primary"onclick="window.location.href='https://m.freewallet.org/id/1649ee81/btc'" />
              </form>
           </div>
         </div>
        <br>
        <br>
    </div>
</header>
         <div class="row">
               <div class="container ">
                 <div class="col-md-4 offset-md-4 text-center">
                   <h2 class="maintext "> The Story</h2>
                 </div>
                 <div class="col-md-12">
                   <div class="text-center">
                     <em>Touching a door knob is like shaking hands with 10,000 people.</em>
                   </div>
                   <br>
                  <p>
                  UVC Tech is a medical device development company that has designed and developed 3 medical devices that it plans
                  to produce, market and eventually license. UVC Tech provides health conscious businesses and consumers with a solution
                  to the rising concerns regarding surface bacteria. According to a 2011 NSF International Household Germ Study there are
                  49 bacteria per square inch on the toilet seat in the average home compared to 203 and 545 bacteria per square inch on
                  door knobs and door handles throughout the average home. The study goes on to determine that 80% of infections are
                  spread by hand, indirectly through everyday objects touched by an infected individual.
                  <br>
                  <br>
                  UVC Tech has developed a unique way through the combination of Ultra Violet Light Technology and Medical Grade Liquid
                  Silicon Rubber to combat and provide the necessary solution to this problem. UVC Tech produces Anti-Bacterial covers
                  for door knobs, door handles and accessibility push plates with the expertise of medical specialists and engineers in
                  the Waterloo Region.The first patent is already incorporated. UVC Tech's technology is unique in that it destroys the
                  bacteria on the surface of the door handle and on the hand of the individual touching it within 3.5 seconds
                  </p>
                 </div>
               </div>
         </div>
         <div class="row">

               <div class="container ">
                  <div class="col-md-4 offset-md-4 text-center">
                    <h2 class="maintext"> The Purpose</h2>
                 </div>
                 <div class="col-md-12">
                 <p>One of the frustrating realities of medicine is that hospitals are hard places to keep clean.
                   After all, they're populated by sick people carrying all sorts of infectious agents.
                   And ordinary surfaces like doorknobs and bed frames can become breeding grounds for those germs.
                   <br>
                   <br>
                  Right now, those surfaces are usually cleaned with disinfectants and detergents, which aren't always as effective as
                  they should be, especially against powerful bugs like methicillin-resistant Staphylococcus aureus, or MRSA, which has
                  caused serious and deadly infections in hospitals in recent years. It's been shown that short-wave ultraviolet (UV)
                  light can kill those bacteria and others in the lab. The question, though, is whether it can be used in a practical setting.
                  <br>
                  <br>
                  The researchers took UV light-emitting machines into actual hospital rooms, just after patients with infections like
                  MRSA had been sent home. they tested bacteria counts on surfaces like doorknobs and bedposts before and after the UV
                  treatment.
                  <br>
                  <br>
                  The results indicate that the UV machines were very effective in disinfecting the surfaces.
                  more specifically they found that they were able to reduce the number of bacteria that was present by upwards of 90-95
                  percent.
                 </div>

           </div>
         </div>
