<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383023-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383023-1');
  </script>
</head>
<div class="row text-center">
  <div class="col">
    <br>
    <h2 class="maintext "> Founders</h2>
    <br>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 offset-md-2">
    <div class="col-md-6 offset-md-3">
      <img src="/images/team-uvc/anthony.jpg" class="img-centered" alt="Anthony" style="width:100%">
    </div>
      <div class="container">
        <h2>Anthony Baldasaro</h2>
        <p class="maintext">Founder &amp; CEO  </p>
        <p>Marketing and Advertising Communications
          <br>
          Pre-Health Sciences
      </div>
  </div>
  <div class="col-md-4 ">
    <div class="col-md-6 offset-md-3">
      <img src="/images/team-uvc/apoorva.jpg" alt="Apoorva" style="width:100%">
    </div>
      <div class="container">
        <h2>Apoorva Yadav</h2>
        <p class="maintext">Co-Founder &amp; CTO,CEO  </p>
        <p>IT Support Services
          <br>
          Mechanical Engineering
        </p>
      </div>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <br>
    <h2 class="maintext "> Team </h2>
    <br>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 offset-md-2">
    <div class="col-md-6 offset-md-3">
      <img src="/images/team-uvc/anjelica.jpg" alt="Anjelica" style="width:100%">
    </div>
      <div class="container">
        <h2>Anjelica Howard</h2>
        <p class="maintext">Marketing &amp; Media </p>
        <p>PTA/OTA</p>
      </div>
  </div>
  <div class="col-md-4 ">
    <div class="col-md-6 offset-md-3">
      <img src="/images/team-uvc/kenny.jpg" alt="Kenneth" style="width:100%">
    </div>
      <div class="container">
        <h2>Kenneth Ram</h2>
        <p class="maintext">Public Relations</p>
        <p>Public Relations &amp; Communications </p>
      </div>
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <br>
    <h2 class="maintext "> Advisors </h2>
    <br>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 offset-md-2">
    <div class="col-md-6 offset-md-3">
      <img src="/images/team-uvc/pat.jpg" alt="Pat" style="width:90%">
    </div>
      <div class="container">
        <h2>Pat Suriano</h2>
        <p class="maintext">Advertising &amp; Marketing </p>
        <p>Professor Conestoga College</p>
      </div>
  </div>
  <div class="col-md-4 ">
    <div class="col-md-6 offset-md-3">
      <img src="/images/team-uvc/mary.jpg" alt="Mary" style="width:80%">
    </div>
      <div class="container">
        <h2>Mary McCullum Baldasaro</h2>
        <p class="maintext">Waterloo Catholic District School Board</p>
        <p>Walden University M.D, B.A
          <br>
        Western University  Ed.D </p>
      </div>
  </div>
</div>
